<div class="search-container">
  <%= form_with url: index_topics_path, class: "form", method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="タイトルで検索" value="<%= params[:title] %>">
    <%= form.submit "検索", class: "button" %>
  <% end %>
</div>

<div class="post-list">
  <!--2-12課題　以下をdiv→aタグにする-->
  <% @topics.each do |topic| %>
  <!--2-13課題　以下をedit_topic_pathをnew_comment_topics_pathに変更 -->
    <a class="topic" href="<%=new_comment_topics_path(topic) %>">
      <div class="header">
        <h2 class="title"><%= topic.title %></h2>
        <p class="timestamp"><%= topic.created_at.strftime("%Y年%m月%d日%H:%M") %></p>
      </div>
    </a>
    <!--ここまで-->
  <% end %>
</div>